.contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 90%;
  max-width: 500px;
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}
.contact-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  background-color: #f3faf9;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.contact-header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.contact-title {
  font-size: 2.5rem;
  color: #0a74da; /* Deep blue */
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.contact-subtitle {
  font-size: 1.25rem;
  color: #107a84; /* Teal green */
  font-weight: 400;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  width: 100%;
}

.form-group {
  margin-bottom: 1.5rem;
}


.form-input,
.form-textarea {
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 0.75rem;
  border: 1px solid #dfe6e9;
  border-radius: 6px;
  font-size: 1rem;
  color: #2c3e50;
  transition: all 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #107a84; /* Teal green */
  outline: none;
  box-shadow: 0 0 0 2px rgba(16, 122, 132, 0.3);
}

.submit-button {
  width: 100%;
  padding: 0.9rem;
  background-color: #0a74da; /* Deep blue */
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
  background-color: #107a84; /* Teal green */
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.submit-button:active {
  background-color: #07596b; /* Darker teal */
}
