.section-2 {
  margin-left: 139px;
  margin-right: 139px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align text to the start */
  align-items: flex-start; /* Align items to the start (left) */
  padding-left: 1rem; /* Optional: Add some padding for better visualization */
}

/* Main Content Box Styling */
.text-box {
  display: flex;
  justify-content: flex-start; /* Align content to the start (left) */
  align-items: center;
  margin-left: 0;
  margin-bottom: 48px;
  }

.s2-text {
  width: 706px;
  color: var(--Neutral-800, #1D2939);
  font-family: "Open Sans";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 86.4px */
  margin-right: 161px;
}

.cleaner{
  color: var(--Building-clean-2-700-main, #2678D1);
  font-family: "Open Sans";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  position: relative;
}
.cleaner-underline {
  position: absolute;
  top: 70px;
  left: 0;
  height: 21px;
  flex-shrink: 0;
  stroke-width: 8px;
  opacity: 0.8;
}

.s2-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  color: var(--Neutral-700, #344054);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  width: 451px;
}

/* Small Text Styling */
.s2-small-text {
  width: 100%;
}

/* Button Styling */
.s2-book {
  display: flex;
  padding: 19px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--Building-clean-2-700-main, #2678D1);
  color: #FFFFFF; /* White text for the button */
  cursor: pointer;
  font-size: 18px;
}
.s2-image-containor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 32px; /* Adjust margin as needed */
}

/* Image Styling */
.s2-image {
  width: 100%;
  height: 551px;
  border-radius: 32px;
  
}